estricto_min_sample_12.alleles.loci  
estricto_min_sample_12.geno          
estricto_min_sample_12.gphocs        
estricto_min_sample_12.str
estricto_min_sample_12.hdf5          
estricto_min_sample_12.u.geno
estricto_min_sample_12.loci          
estricto_min_sample_12.nex           
estricto_min_sample_12.ustr
estricto_min_sample_12.phy
estricto_min_sample_12.snps.map

