laxo_min_sample_4.alleles.loci  
laxo_min_sample_4.geno          
laxo_min_sample_4.gphocs        
laxo_min_sample_4.str
laxo_min_sample_4.hdf5          
laxo_min_sample_4.u.geno
laxo_min_sample_4.loci          
laxo_min_sample_4.nex           
laxo_min_sample_4.ustr
laxo_min_sample_4.phy          
laxo_min_sample_4.snps.map

