laxo_min_sample_2.alleles.loci  
laxo_min_sample_2.snps.phy
laxo_min_sample_2.geno          
laxo_min_sample_2_stats.txt
laxo_min_sample_2.gphocs        
laxo_min_sample_2.str
laxo_min_sample_2.hdf5          
laxo_min_sample_2.u.geno
laxo_min_sample_2.loci          
laxo_min_sample_2.u.snps.phy
laxo_min_sample_2.nex           
laxo_min_sample_2.ustr
laxo_min_sample_2.phy
laxo_min_sample_2.snps.map

