estricto_min_sample_2.alleles.loci  
estricto_min_sample_2.snps.phy
estricto_min_sample_2.geno         
estricto_min_sample_2_stats.txt
estricto_min_sample_2.gphocs        
estricto_min_sample_2.str
estricto_min_sample_2.hdf5          
estricto_min_sample_2.u.geno
estricto_min_sample_2.loci          
estricto_min_sample_2.u.snps.phy
estricto_min_sample_2.nex           
estricto_min_sample_2.ustr
estricto_min_sample_2.phy           
estricto_min_sample_2.snps.map

