ipyrad_log.txt
fastqc/*/**
MslI_1/MslI_1_fastqs/*
MslI_1/MslI_1_edits/*
MslI_1/laxo_consens/*
MslI_1/laxo_clust_0.85/*
MslI_1/laxo_across/*
MslI_1/estricto_clust_0.9/*
MslI_1/estricto_across/*
MslI_1/estricto_consens/*

MslI_2/MslI_2_fastqs/*
MslI_2/MslI_2_edits/*

MslI_3/MslI_3_fastqs/*
MslI_3/MslI_3_edits/*

MslI_4/MslI_4_fastqs/*
MslI_4/MslI_4_edits/*

MslI_5/MslI_5_fastqs/*
MslI_5/MslI_5_edits/*

MslI_6/MslI_6_fastqs/*
MslI_6/MslI_6_edits/*

MslI_7/MslI_7_fastqs/*
MslI_7/MslI_7_edits/*

MslI_8/MslI_8_fastqs/*
MslI_8/MslI_8_edits/*

MslI_9/MslI_9_fastqs/*
MslI_9/MslI_9_edits/*


