estricto_min_sample_4.alleles.loci  
estricto_min_sample_4.geno         
estricto_min_sample_4.gphocs        
estricto_min_sample_4.str
estricto_min_sample_4.hdf5          
estricto_min_sample_4.u.geno
estricto_min_sample_4.loci          
estricto_min_sample_4.nex           
estricto_min_sample_4.ustr
estricto_min_sample_4.phy           
estricto_min_sample_4.snps.map

