laxo_min_sample_12.alleles.loci  
laxo_min_sample_12.snps.phy
laxo_min_sample_12.geno          
laxo_min_sample_12_stats.txt
laxo_min_sample_12.gphocs        
laxo_min_sample_12.str
laxo_min_sample_12.hdf5          
laxo_min_sample_12.u.geno
laxo_min_sample_12.loci          
laxo_min_sample_12.u.snps.phy
laxo_min_sample_12.nex           
laxo_min_sample_12.ustr
laxo_min_sample_12.phy           
laxo_min_sample_12.snps.map

